body{
   padding: 5px;
}

h1.name{
    margin: 0px;
    float: left;
}
h1.schedule{
    margin-top: 0px;
    margin-left: auto;
    margin-right:auto;
    width: 150px;
    height: 125px;
    
}
table{
    width: 100%;
    clear: both;
    background-color: black;
    
}


table th{
    background-color: grey;
    font-family: sans-serif;
    font-size: 20px;
    padding: 2px 10px;
}

th.time{

    padding: 2px 10px;
    width: 80px;
    height: 20px;
    background-color: rgb(231, 188, 67);
    text-align: right;
}

table tr td{
    padding: 5px;
    width: 150px;
    height: 20px;
    background-color: white;
}


td.office{
    background-color: rgb(109, 103, 103);
}
td.cs110{
    background-color: rgb(129, 129, 247);
}
td.cs111{
    background-color: rgb(178, 190, 243);
}
td.cs222{
    background-color: rgb(184, 139, 184);
}

