body{
    margin: 0px;
    background-color: rgb(93, 200, 233);
    border: solid 5px;
    
    border-color: #0c0707;
    border-top-color: rgb(233, 219, 219);
    padding: 10px;

   
}


div{
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    
}
div.center{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}



h1{
    text-align: center;
}

video{
    
    width: 250px;
    height: 430px;
    
}

video.center{
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 25px;
    padding: 5px;
    background-color: gray;
    color: white;

}

table tr th{
    padding-left: 10px;
    padding-right: 15px;

}
table tr td{
    padding-left: 15px;
    padding-right: 15px;
    
}